@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #82869D;
  display: grid;
  place-items: center;
}

.App {
  width: 350px;
  height: 500px;
  background-color: #F6F7FC;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -0 0 20px rgba(0, 0, 0, 0.4);
}

.cons {
  width: 100%;
  height: 100px;
  text-align: right;
}

.formula {
  font-weight: 300;
  min-height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.display {
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.pad {
  width: 100%;
  height: 380px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.pad button {
  display: block;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.pad button:hover {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.pad button:active {
  transform: translateY(2px);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

#clear {
  grid-column: 1 / 3;
  background-color: #93A3F3;
}

#divide, #multiply, #subtract, #add {
  background-color: #93A3F3;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  background-color: #93A3F3;
}

#zero {
  grid-column: 1 / 3;
}

@media screen and (max-width: 400px) {
  
  .App {
    width: 250px;
    height: 357px;
  }

  .pad {
    height: 270px;
  }

  .pad button {
    font-size: 18px;
  }

  .cons {
    height: 67px;
  }

  .formula {
    font-size: 14px;
    min-height: 20px;
  }

  .display {
    font-size: 18px;
    height: 20px;
  }
}